<launch>
  <node name="lane_states_node" pkg="lane_states_original" type="lane_states_node" output="screen" >
    <param name="RPM"              type="int" value="-30"/>
	<param name="alpha"	           type="double" value="6"/>
    <param name="rate"             type="double" value="10.0"/>
    <param name="pixeles_cambio_estado" type="int" value="16"/>
  </node>
</launch>
