<launch>
  <node name="translate_sim_real_node" pkg="translate_sim_real" type="translate_sim_real_node" > 
        <param name="topico_steering_sim"          type="string" value="/autonomos/steer/steer_position_controller/command"/>
        <param name="topico_velocidad_sim"         type="string" value="/cmd_vel"/>
        <param name="topico_estandarizado"         type="string" value="/standarized_vel_ste"/>
	    <!-- simulacion for simulation, anything else for real car -->
        <param name="seleccion_real_simulacion"    type="string" value="simulacion"/>
  </node> 

  <node name="line_detection_fu_node" pkg="line_detection_fu_mod" type="line_detection_fu_node" > 
        <param name="cam_w"                         type="int"    value="640"/>  
        <param name="cam_h"                         type="int"    value="480"/> <!--we will use only bottom half of this...-->  
        <param name="proj_y_start"                  type="int"    value="40"/> <!-- 50 def. Offset vertical imagen. -->
        <param name="proj_image_h"                  type="int"    value="200"/> <!-- 160 -->
        <param name="proj_image_w"                  type="int"    value="180"/>
        <param name="proj_image_horizontal_offset"  type="int"    value="0"/>
        <param name="roi_top_w"                     type="int"    value="160"/> <!-- 132 def. Igual que image width. Max 160. -->
        <param name="roi_bottom_w"                  type="int"    value="160"/>  <!-- 54 def.  -->
        <param name="maxYRoi"                       type="int"    value="160"/> <!-- 159, ajuste abajo de la region de interes -->
        <param name="minYDefaultRoi"                type="int"    value="0"/> <!-- 110 -->
        <param name="minYPolyRoi"                   type="int"    value="0"/> <!-- 20, ajuste parte superior ROI -->
        <param name="defaultXLeft"                  type="int"    value="25"/>
        <param name="defaultXCenter"                type="int"    value="75"/>
        <param name="defaultXRight"                 type="int"    value="125"/>
        <param name="defaultYHorizontal"                 type="int"    value="100"/>
        
        <param name="interestDistancePoly"          type="int"    value="25"/>
        <param name="interestDistanceDefault"       type="int"    value="25"/>
        <param name="iterationsRansac"              type="int"    value="30"/> <!-- 40 defa. -->
        <param name="proportionThreshould"          type="double" value="0.85"/> <!-- 0.85 def -->
        <param name="m_gradientThreshold"           type="int"    value="8"/>
        <param name="m_nonMaxWidth"                 type="int"    value="8"/> <!-- 10 default -->
        <param name="laneMarkingSquaredThreshold"   type="int"    value="49"/> <!-- 49 default. Al perecer se utiliza para filtrar posibles marcas -->
        <param name="angleAdjacentLeg"              type="int"    value="18"/>
        <param name="scanlinesVerticalDistance"     type="int"    value="2"/>
        <param name="scanlinesMaxCount"             type="int"    value="300"/>
        <param name="polyY1"                        type="int"    value="155"/> <!-- 155 -->
        <param name="polyY2"                        type="int"    value="145"/> <!-- 145 -->
        <param name="polyY3"                        type="int"    value="130"/> <!-- 130 -->
        <param name="detectLaneStartX"              type="int"    value="140"/> <!--this was originally 0.7m, which is about 90 in our case... used for gradient computation, might help us to get rid of too crazy polynomials. 155. Cambiado a 130 -->
        <param name="maxAngleDiff"                  type="int"    value="999"/>

        <param name="camera_name"           type="string"   value="app/camera/rgb/image_raw"/>      
        <param name="cam_deg"               type="double"   value="4"/> <!-- 8 default. Modificado a .09 rad = 5 grados -->
        <param name="cam_height"            type="double"   value="18"/>


        <!-- jack 13 720p calibration: -->
        <!--param name="f_u"                type="double"   value="927.054138"/>
        <param name="f_v"                   type="double"   value="935.428772"/>
        <param name="c_u"                   type="double"   value="654.456376"/>
        <param name="c_v"                   type="double"   value="346.241851"/-->
        

        <!-- jack 13 640*480 - cut to only bottom half (640*240) calibration: -->
        <param name="f_u"                   type="double"   value="655.554626"/>
        <param name="f_v"                   type="double"   value="652.052734"/>
        <param name="c_u"                   type="double"   value="312.773367"/>
        <param name="c_v"                   type="double"   value="7.779505"/>
        
        <param name="topico_estandarizado"           type="string"   value="/standarized_vel_ste" />
        <param name="kalpha"                type="double"   value="1.0"/>
        <param name="kbeta"                 type="double"   value="0.5"/>
        <param name="car_center"            type="int"      value="87" />
        <param name="dbscan_epsilon"        type="int"      value="45" />

  </node>

  <node name="lane_states_node" pkg="lane_states_original" type="lane_states_node" output="screen" >
        <param name="car_center"           type="int" value="87" />
  </node>

  <node name="lane_controller_sim_node" pkg="lane_controller_sim" type="lane_controller_sim_node" output="screen" > 
        <param name="Kp"                   type="double" value="1.8"/>
        <param name="Ki"                   type="double" value="0.04"/>
        <param name="Kd"                   type="double" value="0.0"/>
        <param name="dt"                   type="double" value="1.0"/>
        <param name="pE"                   type="double" value="320.0"/>
        <param name="min"                  type="double" value="-0.5"/>
        <param name="max"                  type="double" value="0.5"/>
        <param name="velocity"             type="double" value="-0.15"/>
        <param name="altura"               type="double" value="70.0"/>
	    <param name="topico_estandarizado" type="string" value="/standarized_vel_ste"/>
   </node> 
</launch>
