<launch>
    <node name="TrabajaConlaImagen" pkg="firulais" type="TrabajaConlaImagen" output="screen" /> 
    
    <node name="lane_controller_node" pkg="firulais" type="lane_controller_node" output="screen" > 

    <param name="Kp"          type="double" value="2.0"/>
    <param name="Ki"          type="double" value="0.0"/>
    <param name="Kd"          type="double" value="0.0"/>
    <param name="dt"          type="double" value="1.0"/>
    <param name="pE"          type="double" value="320.0"/>
    <param name="min"          type="double" value="0.0"/>
    <param name="max"          type="double" value="90.0"/>
    <param name="velocity"          type="double" value="-300.0"/>
    <param name="altura"          type="double" value="70.0"/>


    <param name="activa_librarobstaculo"          type="int" value="1"/>
    <param name="distancia_librarobstaculo"          type="double" value="0.9"/>
    <param name="distancia_librarobstaculomasmenos"          type="double" value="0.1"/>
    <param name="pendienteTrancazo"          type="double" value="0.66"/>
    


    </node>

    <node name="perception_node" pkg="firulais" type="perception_node" output="screen" >
        <param name="distancia_lidar"          type="double" value="1.2"/>
    </node> 
 
</launch>
