<launch>
    <node name="TrabajaConlaImagen" pkg="firulais" type="TrabajaConlaImagen" output="screen" /> 
    
    <node name="lane_controller_node" pkg="firulais" type="lane_controller_node" output="screen" > 

    <param name="Kp"          type="double" value="2.0"/>
    <param name="Ki"          type="double" value="0.0"/>
    <param name="Kd"          type="double" value="0.0"/>
    <param name="dt"          type="double" value="1.0"/>
    <param name="pE"          type="double" value="320.0"/>
    <param name="min"          type="double" value="0.0"/>
    <param name="max"          type="double" value="90.0"/>
    <param name="velocity"          type="double" value="-300.0"/>
    <param name="altura"          type="double" value="70.0"/>

    </node>

 
</launch>
