
<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find autonomos_description)"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find autonomos_description)"/>
  <!-- <arg name="namespace" default=""/> -->
  <arg name="world_name" default="model://urdf/camino_derecho.world"/>
  <arg name="cmd_timeout" default="0.5"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Vehicle pose -->
  <arg name="x" default="0.7"/>
  <arg name="y" default="-10.52"/>
  <arg name="z" default="0.07"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="1.57"/>

  <!-- Create the world. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>


  <!-- Parsing xacro and setting robot_description parameter -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find autonomos_description)/urdf/autonomos.xacro" /> 
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot 
   Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model autonomos -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

  

</launch>




