<launch>
  <arg name="stopping_check_arg" />
  <arg name="stopping_type_arg" />
  <arg name="planner_arg" />
  <arg name="kill_on_exit" />
  <arg name="ctrl_to_use"/>
  <arg name="goal_state/x"/>
  <arg name="goal_state/y"/>
  <arg name="goal_state/theta"/>
  <!-- <arg name="start_state/x"/> -->
  <!-- <arg name="start_state/y"/> -->
  <!-- <arg name="start_state/theta"/> -->
  <arg name="global_planning"/>

  <node name="motion_planning_node" pkg="motion_planning" type="motion_planning_node" output = "screen"
    required = "$(arg kill_on_exit)">
    <!-- launch-prefix = "valgrind"  -->
    <param name="use_sim_time" type="boolean" value="true" />

    <param name="integration_step"           type="double" value="0.001"/>
    <param name="stopping_type"              type="string" value="$(arg stopping_type_arg)"/>
    <param name="stopping_check"             type="double" value="$(arg stopping_check_arg)"/>
    <param name="stats_check"                type="double" value="0"/>
    <param name="min_time_steps"             type="int"    value="20"/>
    <param name="max_time_steps"             type="int"    value="200"/>
    <param name="random_seed"                type="int"    value="56435351"/>
    <param name="sst_delta_near"             type="double" value="0.4"/>
    <param name="sst_delta_drain"            type="double" value="0.2"/>
    <param name="planner"                    type="string" value="$(arg planner_arg)"/>
    <param name="system"                     type="string" value="car"/>
    <param name="goal_radius"                type="double" value=".4"/>
    <param name="intermediate_visualization" type="bool"   value="false"/>
    <param name="ctrl_to_use"                type="string" value="$(arg ctrl_to_use)"/>
    <param name="global_planning"            type="bool"   value="$(arg global_planning)"/>

    <!-- <param name="start_state/x"              type="double" value="$(arg start_state/x)"/> -->
    <!-- <param name="start_state/y"              type="double" value="$(arg start_state/y)"/> -->
    <!-- <param name="start_state/theta"          type="double" value="$(arg start_state/theta)"/> -->

    <!-- GOAL -->
    <param name="goal_state/x"              type="double" value="$(arg goal_state/x)"/>
    <param name="goal_state/y"              type="double" value="$(arg goal_state/y)"/>
    <param name="goal_state/theta"          type="double" value="$(arg goal_state/theta)"/>

    <!-- BOUNDING -->
    <param name="bounding/pos_x_bound"       type="double" value="0.0"/>   <!-- NOT USE IF global_planning == FALSE -->
    <param name="bounding/neg_x_bound"       type="double" value="-10.0"/> <!-- NOT USE IF global_planning == FALSE -->
    <param name="bounding/pos_y_bound"       type="double" value="+10.0"/> <!-- NOT USE IF global_planning == FALSE -->
    <param name="bounding/neg_y_bound"       type="double" value="-10.0"/> <!-- NOT USE IF global_planning == FALSE -->
    <param name="bounding/perception_radius" type="double" value="6"/>     <!-- NOT USE IF global_planning == TRUE  -->
    
    <!-- REPLANNING -->
    <param name="replanning/delta_t"       type="double" value="1"/>

  </node>

</launch>
