<launch>

    <node name="lane_controller_sim_node" pkg="lane_controller_sim" type="lane_controller_sim_node" output="screen" > 

        <param name="Kp"          type="double" value="1.8"/>
        <param name="Ki"          type="double" value="0.04"/>
        <param name="Kd"          type="double" value="0.0"/>
        <param name="dt"          type="double" value="1.0"/>
        <param name="pE"          type="double" value="320.0"/>
        <param name="min"          type="double" value="-0.5"/>
        <param name="max"          type="double" value="0.5"/>
        <param name="velocity"          type="double" value="-0.15"/>
        <param name="altura"          type="double" value="70.0"/>
        <!--
        <param name="topico_steering"          type="string" value="/autonomos/steer/steer_position_controller/command"/>
        <param name="topico_velocidad"          type="string" value="/cmd_vel"/>
	-->
	<param name="topico_estandarizado" type="string" value="/standarized_vel_ste"/>

    </node> 
 
</launch>
