<launch>

    <arg name="gui_in" default="false"/>

  <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find motion_planning)/config/custom_rosconsole.conf"/> -->
    
    <param name="simulation/simulation" type = "bool" value="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui_in)"/>
        <arg name="debug" value="false"/>
        <!-- <arg name="world_name" value="autoNOMOS_parking_lot.world"/> -->
        <arg name="extra_gazebo_args" value="--verbose"/>
        <!-- <arg name="" -->
        
        <arg name="world_name" value="multiple_obstacles.world"/> 
    <!-- more default parameters can be changed here -->
    </include>



    <!-- rosrun gazebo_ros spawn_model -file `rospack find
      autonomos_gazebo_simulation`/models/AutoNOMOS_mini/model.sdf -sdf
      -model AutoNOMOS_mini -->

</launch>
